<h3>注文履歴詳細</h3>

<p class="information">注文情報</p>
	<table class="order-information">
		<tr>
			<td>注文日</td>
			<td><%= order.created_at %></td>
		</tr>
		<tr>
			<td>配送先</td>
			<td><%= order.postal_code %><br>
                <%= order.address %>
                <%= member.first_name member.last_name %>
			 </td>
		</tr>
		<tr>
			<td>支払方法</td>
			<td><%= payment_method %></td>
		</tr>
		<tr>
			<td>ステータス</td>
			<td><%= order.status %></td>
		</tr>
	</table>
	<p class="info">請求情報</p>
	<table class="payment-info">
		<tr>
			<td>商品合計</td>
			<td><%= order.total_amount %></td>
		</tr>
		<tr>
			<td>配送料</td>
			<td><%= order.postage %></td>
		</tr>
		<tr>
			<td>ご請求額</td>
			<td><%= order.total_amount+order.postage %></td>
		</tr>
		
	</table>
	<p class="order">注文内容</p>
	<table class="order-details">
		<thead>
		<tr>
			<th>商品</th>
			<th>単価（税込み）</th>
			<th>個数</th>
			<th>小計</th>
		</tr>
	</thead>
	<% @products.each do |product| %>
	<% @cart_product.each do|cart| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.price %></td>
			<td><%= cart_product.number %> </td>
			<td><%=  product.price * cart_product.number %></td>
		</tr>
		<% end %>
		<% end %>
		