<h1>ショッピングカート</h1>

<%= link_to "カートを空にする", members_top_path %>

<div class="col-xs-9">
    <table class="table table-bordered">
	    <thead>
	    	<tr>
			    <th>商品名</th>
			    <th>単価（税込み）</th>
			    <th>数量</th>
			    <th>小計</th>
			    <th colspan="3"></th>
		    </tr>
	    </thead>
	    <tbody>
	    	<%= @cart_items.each do |cart| %>
	    	<tr>
		    	<th><%= cart.name %></th>
		    	<td><%= cart.price %></td>
		    	<td><%= cart.number %></td>
		    	<td></td>
		    	<td><%= link_to "削除する", member_cart_product_path(@cart_product), method: :delete_item　%></td>
	    	</tr>
	    	<% end %>
	    </tbody>
    </table>

    <%= link_to "買い物を続ける", members_top_path %>

    <%= link_to "情報入力に進む", member_odrer_new_path %>
</div>