<div class="col-xs-9">
  <div>
    <h2>注文情報確認</h2>
  </div>
</div>
<div class="col-xs-8">

      <table class="table table-bordered">

        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          <%= form_with(model: [:member, @order], local: true,) do |f| %>

          <% @cart_products.each do |cart| %>
          <tr>
            <td><%= attachment_image_tag(cart.product, :image, :fill, 50, 50, fallback: "img/no-image.png", size: "50x50") %>
            <%= cart.product.name %></td>
            <td style="text-align: center; font-size: 20px;"> <%= cart.tax_price.floor %></td>
            <td><%= cart.number %></td>
            <td><%= cart.sum_price.floor %></td>
          </tr>

        </tbody>
        <%= f.hidden_field :member_id %>
        <% end %>

      </table>
</div>
<div class="col-xs-4">

        <table class="table table-bordered">

            <tb>
              <tr>
                <th>送料</th>
                <td><%= @order.postage %></td>
                <%= f.hidden_field :postage %><br>
              </tr>

              <tr>
                <th>商品合計</th>
                <td><%= @cart.total_price.floor %></td>
              </tr>

              <tr>
                <th>請求金額</th>
                <td><%= @order.payment_amount %> </td>

                <%= f.hidden_field :total_amount, value: @order.payment_amount %><br>

              </tr>
            </tb>
        </table>
</div>

<div class="col-xs-9">
        <h3>支払方法</h3>
        <%= @order.payment_method %>
        <%= f.hidden_field :payment_method %><br>

        <h3>お届け先</h3>
        <% @order.address_option %>
        <%= f.hidden_field :address_option, value: @order.address_option %>
        <%= @order.postal_code %>
        <%= f.hidden_field :postal_code, value: @order.postal_code %><br>
        <%= @order.address %>
        <%= f.hidden_field :address, value: @order.address %><br>
        <%= @order.address_name %>
        <%= f.hidden_field :address_name, value: @order.address_name %><br>

        <%= f.submit "購入を確定する" %>
      <% end %>
</div>




</div>