<!doctype html>
<html lang="ja">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	    <title>商品詳細</title>
	</head>
 	<body>
 		<div class="container">
 			<div class="row"><h1>商品詳細</h1></div>
 			<div class="row">
				<div class="col-lg-4">
					<%= attachment_image_tag @product, :image, :fill, 300, 300 %>
				</div>
				<div class="col-lg-8">
					<dl>
						<dt>商品名</dt>
						<dd><%= @product.name %></dd>
						<dt>商品説明</dt>
						<dd><%= @product.description %></dd>
						<dt>ジャンル</dt>
						<dd><%= @product.genre.name %></dd>
						<dt>税込価格（税抜価格）</dt>
						<dd><%= @product.price %>(order_detailsから販売価格持ってくる？）円</dd>
						<dt>販売ステータス</dt>
						<dd><%= @product.salling_status_i18n %></dd>
					</dl>

					<%= link_to '編集する', edit_product_path, class: "btn btn-info" %>
				</div>
			</div>
		</div>
	</body>
